Source: sys-monitor
Section: utils
Priority: optional
Maintainer: semicolon-team <anisgulnoori93@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version:1.0

Package: sys-monitor
Architecture: all
Depends: bash (>= 4.0), procps, grep, awk
Description: CPU & RAM monitoring
